@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

:root{
  --color-white: #fff;
  --color-blue1: #1648a8;
  --color-gray: #f2f2f2;
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins',sans-serif;
  background-color: var(--color-gray);
  color: var(--color-white);
  overflow: hidden;
}


container-fluid {
  display: flex;
  flex: 1;
}


.main-content {
  flex: 2;
  padding: 50px;
}

.button-group {
  text-align: center;
}

.button-group button {
  margin: 25px;
  padding: 30px;
  font-size: 15px;
}

/* Adicionado estilo para centralizar os botões em grupos de dois */
.button-group .button-group-row {
  display: flex;
  justify-content:space-between;
}

.button-group button:nth-child(even) {
  margin-left: 20px;
  margin-right: 0px;
}


a{
  color: #fff;
  text-decoration: none;
}

.btn_home{
 height: 150px;
 width: 300px;
 background-color: var(--color-blue1);
 border-color: transparent;
}
