<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>LOGIN</title>
</head>

<body class="container justify-content-md-center pt-3">
    <main class="w-100 m-auto form-container">
        <form>
            <img src="/static/img/logo_sana.png" class="img-sem-sidebar" height="100" width="300" alt="Logo da SANA">
            <h1 class="h1 fw-normal">CADASTRO</h1>
            <div class="form-floating py-1">
                <input type="email" class="form-control mb-2" id="nomeInput" placeholder="Digite seu e-mail de acesso" autofocus/>
                <label for="nomeInput">Nome do Usuário</label>
            </div>
            <div class="form-floating py-1">
                <input type="email" class="form-control mb-2" id="emailInput" placeholder="Digite seu e-mail de acesso" autofocus/>
                <label for="emailInput">E-mail</label>
            </div>
            <div class="form-floating py-1">
                <input type="password" class="form-control mb-2" id="passwordInput" placeholder="Senha de acesso" />
                <label for="passwordInput">Senha</label>
            </div>
            <div class="form-floating py-1">
                <input type="password" class="form-control" id="passwordInput1" placeholder="Senha de acesso" />
                <label for="passwordInput1">Confirmação de Senha</label>
            </div>
            <button class="btn btn-primary w-100 py-2 my-2">Cadastrar</button>
            <p>Ja tem um cadastro? <a href="/login">faça seu login aqui</a></p>
        </form>
    </main>
</body>
</html>
