<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/static/css/relatorio.css" />
    <link rel="stylesheet" href="/static/css/sidebar.css" />
    <link rel="stylesheet" href="/static/css/header.css" />

    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Relatório</title>
  </head>
  <body>
    <div class="header" id="header">
      <div class="logo">
        <a href="/">
          <img src="/static/img/logo_sana.png" alt="Logo SANA" id="img_logo" />
        </a>
      </div>
    </div>

    <div class="container-fluid">
      <!-- Left Sidebar -->
      <div class="menutoggle active">
        <div id="toggle-btn">
          <img
            src="../static/img/menu.svg"
            alt=""
            class="bx bx-menu"
            id="header-toggle"
            style="cursor: pointer"
          />
        </div>
      </div>
      <nav class="sidebar">
        <div class="sidebar-header">
          <h3 class="menu_header">MENU</h3>
        </div>
        <ul class="list">
          <li>
            <a href="/perfil-user">
              <img src="../static/img/key.svg" alt="" class="mx-3" /> Editar
              Senha de Acesso
            </a>
          </li>
          <li>
            <a href="/ajuda">
              <img src="../static/img/ajuda.svg" alt="" class="mx-3" /> Ajuda
            </a>
          </li>
          <li>
            <a href="/suporte">
              <img src="../static/img/suporte.png" alt="" class="mx-3" />
              Suporte
            </a>
          </li>
          <li>
            <a href="/login">
              <img src="../static/img/sair.svg" alt="" class="mx-3" /> Sair
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div
      class="container shadow-lg rounded-3 py-2 px-4 justify-content-md-center w-50"
    >
      <div class="row justify-content-md-center">
        <div class="col-6">
          <div class="input-group w-100 mx-auto my-2">
            <input
              id="campoPesquisa"
              type="text"
              class="form-control"
              placeholder="Pesquisar por nome"
            />
            <div class="input-group-prepend">
              <button
                id="btn-pesq"
                class="btn btn-primary rounded-0 rounded-end"
                onclick="pesquisar()"
              >
                Pesquisar
              </button>
            </div>
          </div>
        </div>
        <div class="col-6 py-2">
          <select id="ordenarPor" name="" class="form-select w-100">
            <option value="" disabled selected>Ordenar por:</option>
            <option value="opcao1">Ordem Alfabética de Situação</option>
            <option value="opcao2">Ordem Alfabética de Nome</option>
            <option value="opcao3">Data de Solicitação</option>
            <option value="opcao4">Posição</option>
          </select>
        </div>
      </div>
      <table
        id="tabelaBody"
        class="table table-striped mx-auto justify-content-md-center"
      >
        <thead class="thead-dark">
          <tr>
            <th scope="col-1">#</th>
            <th scope="col-3">Situação</th>
            <th scope="col-4">Nome do Navio</th>
            <th scope="col-3">Data da Solicitação</th>
          </tr>
        </thead>
        <tbody>
          {% for item in dados_tabela %}
          <tr
            id="{{ item['id_navio'] }}"
            class="linha"
            style="cursor: pointer; user-select: none"
          >
            <td class="col-1">{{ item["id_navio"] }}</td>

            {% if item["situacao"] == "APROVADO" %}
            <td class="col-3 text-success bold">{{ item["situacao"] }}</td>
            {% endif %} {% if item["situacao"] == "REPROVADO" %}
            <td class="col-3 text-danger bold">{{ item["situacao"] }}</td>
            {% endif %}

            <td class="col-4">{{ item["nome"] }}</td>
            <td class="col-3">{{ item["data"] }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      <p id="nEncontrado" style="display: none; font-weight: bold">
        Navio não encontrado
      </p>
    </div>
    <script src="../static/js/site/script.js"></script>
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const linhas = document.getElementsByClassName("linha");
        Array.from(linhas).forEach((linha) => {
          linha.addEventListener("click", () => {
            let trId = linha.getAttribute("id");
            location.href = "/perfil/" + trId;
          });
        });
      });

      const nEncontrado = document.getElementById("nEncontrado");

      document
        .getElementById("ordenarPor")
        .addEventListener("change", function () {
          const tabelaBody = document.getElementById("tabelaBody");
          const opcaoSelecionada = this.value;

          const linhas = Array.from(tabelaBody.rows);
          linhas.shift(); // Remove a linha de cabeçalho

          linhas.sort((a, b) => {
            let valorA, valorB;

            switch (opcaoSelecionada) {
              case "opcao1":
                valorA = a.cells[1].textContent; // Situação
                valorB = b.cells[1].textContent;
                break;
              case "opcao2":
                valorA = a.cells[2].textContent; // Nome do Navio
                valorB = b.cells[2].textContent;
                break;
              case "opcao3":
                valorA = a.cells[3].textContent; // Data da Solicitação
                valorB = b.cells[3].textContent;
                break;
              case "opcao4":
                valorA = a.cells[0].textContent; // Posição
                valorB = b.cells[0].textContent;
                break;
              default:
                // Handle default case or do nothing
                break;
            }

            return valorA.localeCompare(valorB);
          });

          tabelaBody.innerHTML = ""; // Limpar o corpo da tabela

          // Adicionar a linha de cabeçalho de volta
          const cabecalho = tabelaBody.createTHead();
          cabecalho.innerHTML =
            "<tr><th>#</th><th>Situação</th><th>Nome do Navio</th><th>Data da Solicitação</th></tr>";

          const body = tabelaBody.createTBody();
          // Adicionar as linhas ordenadas de volta
          linhas.forEach((linha) => {
            body.appendChild(linha);
          });
        });
      function pesquisar() {
        let count = 0;

        const filtroPesquisa = document.getElementById("campoPesquisa");
        const btnPesq = document.getElementById("btn-pesq");

        btnPesq.textContent = "Pesquisar";
        filtroPesquisa.placeholder = "Pesquisar por nome";

        const tabelaBody = document.getElementById("tabelaBody");

        const linhas = Array.from(tabelaBody.rows);
        linhas.shift(); // Remove a linha de cabeçalho

        linhas.forEach((linha) => {
          const textoLinha = linha.innerText.toLowerCase();

          if (textoLinha.includes(filtroPesquisa.value.toLowerCase())) {
            linha.style.display = ""; // Exibir a linha se contiver o texto de pesquisa
            count++;
          } else {
            linha.style.display = "none"; // Ocultar a linha se não contiver o texto de pesquisa
          }
        });

        if (count === 0) {
          nEncontrado.style.display = "";
          filtroPesquisa.value = "";
          filtroPesquisa.placeholder = "Limpar Pesquisa";
          btnPesq.textContent = "Limpar";
        } else {
          nEncontrado.style.display = "none";
        }
      }
    </script>
  </body>
</html>
