<!DOCTYPE html>
<html lang="pt-br" data-bs-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/sidebar.css" />
    <link rel="stylesheet" href="/static/css/header.css" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <title>SUPORTE</title>
  </head>

  <body>
    <div class="header" id="header">
        <div class="logo">
          <a href="/">
            <img src="/static/img/logo_sana.png" alt="Logo SANA" id="img_logo" />
          </a>
        </div>
      </div>

    <div class="container-fluid">
      <!-- Left Sidebar -->
      <div class="menutoggle active">
        <div id="toggle-btn">
          <img
            src="../static/img/menu.svg"
            alt=""
            class="bx bx-menu"
            id="header-toggle"
            style="cursor: pointer"
          />
        </div>
      </div>
      <nav class="sidebar">
        <div class="sidebar-header">
          <h3 class="menu_header">MENU</h3>
        </div>
        <ul class="list">
          <li>
            <a href="#">
              <img src="../static/img/key.svg" alt="" class="mx-3" /> Editar
              Senha de Acesso
            </a>
          </li>
          <li>
            <a href="/ajuda">
              <img src="../static/img/ajuda.svg" alt="" class="mx-3" /> Ajuda
            </a>
          </li>
          <li>
            <a href="/suporte">
              <img src="../static/img/suporte.png" alt="" class="mx-3" />
              Suporte
            </a>
          </li>
          <li>
            <a href="/login">
              <img src="../static/img/sair.svg" alt="" class="mx-3" /> Sair
            </a>
          </li>
        </ul>
      </nav>

      <!-- Main Content -->
      <div class="main-content">
        <div class="container justify-content-md-center h-100">
          <div class="card m-auto w-100 h-50 rounded-4">
            <div
              class="m-auto p-4 text-white fundo_azul w-100 rounded-top-4"
              style="font-weight: bold"
            >
              <img src="../static/img/suporte.png" alt="" class="mb-1" />
              SUPORTE
            </div>
            <div class="p-5">
              <p class="text-primary" style="font-weight: bold">
                CONTATOS PARA SUPORTE:
              </p>
              <table
                id="tabelaBody"
                class="table table mx-auto justify-content-md-center"
              >
                <thead class="thead-dark">
                  <tr>
                    <th scope="col-1">Nome</th>
                    <th scope="col-3">Função</th>
                    <th scope="col-4">Telefone</th>
                    <th scope="col-3">Email</th>
                  </tr>
                </thead>
                <tbody>
                  <tr style="cursor: pointer; user-select: none">
                    <td class="col-3">Edilson Marques</td>
                    <td class="col-4 text-danger">
                      ia-model and back-end developer
                    </td>
                    <td class="col-2">(98) 9999-9999</td>
                    <td class="col-3">edilson@gmail.com</td>
                  </tr>
                  <tr style="cursor: pointer; user-select: none">
                    <td class="col-3">Gabriel Vinícius</td>
                    <td class="col-4 text-danger">
                      ia-model developer
                    </td>
                    <td class="col-2">(98) 9999-9999</td>
                    <td class="col-3">gabriel@gmail.com</td>
                  </tr>
                  <tr style="cursor: pointer; user-select: none">
                    <td class="col-3">Kauã Nogueira</td>
                    <td class="col-4 text-danger">
                      front-end freelancer developer
                    </td>
                    <td class="col-2">(98) 98715-3564</td>
                    <td class="col-3">kauanog9@gmail.com</td>
                  </tr>
                </tbody>
            </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script src="../static/js/site/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
